body {
    font-family: 'Oswald', sans-serif;
}

.full-width-image {
    width: 100%;
    height: auto; /* Adjust based on the content, you can also set a specific height */
    display: block;
}

/* Example of setting a specific height, adjust as per your "two rows" definition */
@media (min-width: 992px) { /* For larger devices */
    .full-width-image {
        height: 500px; /* Adjust this value to match your desired "two rows" height */
        object-fit: cover; /* This will cover the area without distorting the aspect ratio */
    }
}

navbar {
    background-color: white;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: black;
}

.main {
    background-color: bisque;
}

.custom-border {
    border: 50px solid black; /* You can change the '10px' to any size you want */
  }

.welcome-message p {
    font-size: 1.25rem; /* Adjusts the size for better readability and presence */
    margin: 0.5rem 0; /* Adds a bit of spacing between lines for readability */
    font-weight: normal; /* Adjusts the weight of the font, if desired */
    line-height: 1.6; /* Improves the readability by adjusting the height between lines */
  }

.welcome-message h3 {
    margin-bottom: 1rem; /* Adjust this value as needed to increase space */
    /* Other styling properties for h1 */
  }

.welcome-message .line {
    text-align: center; /* Centers the text of paragraphs with class 'line' */
    /* Additional adjustments for line-height or font-weight as previously mentioned */
  }

  .welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  


  
  
